.mui-content{
  position: absolute;
  width: 100%;
  top: 44px;
  bottom: 50px;
  padding: 0 10px !important;
}
.product{
  padding: 0;
}
.filter div{
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #efeff4;
  margin: 10px 0 15px 0;
  font-size: 14px;
}
.filter div span{
  font-size: 16px;
  margin-left: 3px;
}